<div class="comments-content">
    <header class="header">
        <ul class="comments-menu">
            <li class="comments-menu-item">
                <span>
                    82 条评论
                </span>
            </li>
            <li class="comments-menu-item float-right">
                <a>
                    注册
                </a>
                /
                <a>
                    登录
                </a>
            </li>
        </ul>
    </header>
    <section class="body">
        <form class="comments-reply-form" style="margin-bottom: 30px;">
            <div style="margin-bottom: 12px;">
                <label class="comments-form-item-label">
                    <img src="../../../assets/image/anonymous-avatar.jpg" title="图片加载失败。">
                </label>
                <div class="comments-form-item-content" style="margin-left: 60px;">
                    <div class="comments-input-wrapper">
                        <textarea autocomplete="off" placeholder="以 匿名用户 身份发言..." rows="2" class="comments-input"></textarea>
                    </div>
                </div>
            </div>
            <div class="comments-btn-container">
                <button type="button" class="comments-clear-btn" nz-button [nzType]="'default'" disabled="disabled">
                    <span>
                        清空
                    </span>
                </button>
                <button type="button" class="comments-post-btn" nz-button [nzType]="'primary'" disabled="disabled" style="margin-left: 8px;">
                    <span>
                        发送
                    </span>
                </button>
            </div>
        </form>
        <ul class="comment-group">
            <li class="comment-item">
                <section class="comment-section">
                    <div class="comment-item-avatar">
                        <img src="../../../assets/image/anonymous-avatar.jpg" title="图片加载失败。">
                    </div>
                    <div class="comment-item-body">
                        <header class="comment-item-header">
                            <div>
                                <a title="匿名用户" class="comment-item-username">匿名用户</a>
                                <span class="comment-item-meta">
                                    <div class="comment-item-poptip">
                                        <div class="comment-item-poptip-rel">
                                            · 7 天前
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </header>
                        <div class="comment-content">
                            <div class="comment-marked-content">
                                <p>test</p>
                            </div>
                        </div>
                        <footer class="comment-footer">
                            <a title="给这条评论点赞！" class="comment-footer-icon">
                                <span></span>
                                <i class="anticon anticon-like"></i>
                            </a>
                            <span class="comment-separator">|</span>
                            <a title="踩这条评论。" class="comment-footer-icon">
                                <span></span>
                                <i class="anticon anticon-dislike"></i>
                            </a>
                            <a class="comment-footer-btn">
                                回复
                            </a>
                            <div class="ivu-poptip ivu-poptip-confirm">
                                <div class="ivu-poptip-rel"></div>
                            </div>
                        </footer>
                        <form class="comments-reply-form" style="display:none">
                            <div style="margin-bottom: 12px;">
                                <label class="comments-form-item-label">
                                    <img src="../../../assets/image/anonymous-avatar.jpg" title="图片加载失败。">
                                </label>
                                <div class="comments-form-item-content" style="margin-left: 60px;">
                                    <div class="comments-input-wrapper">
                                        <textarea autocomplete="off" placeholder="回复 匿名用户 的评论" rows="2" class="comments-input"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-btn-container">
                                <button type="button" class="comments-clear-btn" nz-button [nzType]="'default'" disabled="disabled">
                                    <span>
                                        清空
                                    </span>
                                </button>
                                <button type="button" class="comments-post-btn" nz-button [nzType]="'primary'" disabled="disabled" style="margin-left: 8px;">
                                    <span>
                                        发送
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="comment-section-replies">
                    <ul class="comment-reply-group">
                        <li class="comment-item reply-item">
                            <section class="comment-section">
                                <div class="comment-item-avatar">
                                    <img src="../../../assets/image/anonymous-avatar.jpg" title="图片加载失败。">
                                </div>
                                <div class="comment-item-body">
                                    <header class="comment-item-header">
                                        <div>
                                            <a title="匿名用户" class="comment-item-username">匿名用户</a>
                                            <span class="comment-item-meta">
                                                <div class="comment-item-poptip">
                                                    <div class="comment-item-poptip-rel">
                                                        · 7 天前
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </header>
                                    <div class="comment-marked-content">
                                        <p>抱歉，现在暂时还不支持使用本地数据库。不过
                                            <a target="_blank" title="admin@wildfire.com">@CHENGKANG</a> 正在开发一款开源的Firebase实现——
                                            <a target="_blank" href="https://github.com/volcanojs" alt="null">volcanojs</a>。但是毕竟是开源的，而且目前人手短缺，因此具体发布的时间尚不能够确定。</p>
                                    </div>
                                    <footer class="comment-footer">
                                        <a title="给这条评论点赞！" class="comment-footer-icon">
                                            <span></span>
                                            <i class="anticon anticon-like"></i>
                                        </a>
                                        <span class="comment-separator">|</span>
                                        <a title="踩这条评论。" class="comment-footer-icon">
                                            <span></span>
                                            <i class="anticon anticon-dislike"></i>
                                        </a>
                                        <a class="comment-footer-btn">
                                            回复
                                        </a>
                                        <div class="ivu-poptip ivu-poptip-confirm">
                                            <div class="ivu-poptip-rel"></div>
                                        </div>
                                    </footer>
                                </div>
                            </section>
                        </li>
                        <li>
                            <a class="comment-section-replies-more-btn">
                                <span>
                                    <i class="anticon anticon-down"></i>
                                    展开更多 -3 条讨论
                                </span>
                            </a>
                        </li>
                    </ul>
                </section>
            </li>
        </ul>
    </section>
</div>