<div style="padding-top: 150px">
  <div #bgContainerElem>
    <div id="bg1" class="bg"></div>
    <div id="bg2" class="bg"></div>
    <div id="bg3" class="bg"></div>
    <div id="bg4" class="bg"></div>
  </div>
  <div class="form-container" #formContainerElem>
    <form nz-form [formGroup]='userForm' [nzLayout]="'vertical'" (ngSubmit)="onSubmit()">
      <h3>
        后台登录
      </h3>
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="userForm.controls.user_name">
          <nz-input formControlName="user_name" [nzPlaceHolder]="'Username'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-user"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="userForm.controls.user_name.dirty&&userForm.controls.user_name.hasError('required')">Please input your username!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control [nzValidateStatus]="userForm.controls.password">
          <nz-input formControlName="password" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
            <ng-template #prefix>
              <i class="anticon anticon-lock"></i>
            </ng-template>
          </nz-input>
          <div nz-form-explain *ngIf="userForm.controls.password.dirty&&userForm.controls.password.hasError('required')">Please input your Password!</div>
        </div>
      </div>
      <div nz-form-item>
        <div nz-form-control>
          <button nz-button class="login-form-button" [nzType]="'primary'" [nzSize]="'large'">
            <i class="anticon anticon-login"></i>
            Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>