<div class="nav-container">
  <div class="avatar-container">
    <img class="avatar" src="../../../../assets/image/avatar.jpg" />
    <h4>后台管理</h4>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let menu of menus;index as i" [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ menu.name }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="menu.subMenus">
        <ul>
          <li *ngFor="let subMenu of menu.subMenus">
            <button mat-button (click)="navigate(subMenu.path)">
              {{ subMenu.name }}
            </button>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>