<div class="login-area">
    <div>代码改变世界</div>
    <div>
        <span>
                [<a href="#" (click)="login()">登录</a>
                ·<a href="#" (click)="register()">注册</a>]
            </span>
    </div>
</div>
<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav mode="side" opened="true">
        <app-nav></app-nav>
    </md-sidenav>
    <div class="sidenav-content">
        <div>
            <i class="material-icons md-36">home</i>
            <h3>
                Hello World
            </h3>
        </div>
        <div>
            <i class="material-icons md-36" (click)="sidenav.toggle()">menu</i>
        </div>
    </div>
</md-sidenav-container>